body{
	margin: 0;
	font-family: "Times New Roman";
}
/* Header */
#header{
	text-align: center;
}
#header .judul{
	font-family: "Verdana";
	border: solid 1px #000;

}
#header .judul h2{
	margin: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	background: red;
}

#header .judul h4{
	background: #444481;
	padding-bottom: 19px;
	margin: 0px;
	padding-top: 17px
}

#header .judul p{
	
}

#header img{
	border-top: solid 8px red;
	margin: 0;
	width: 1262px;
	height: 400px;
}

#header .menu{
	text-align: center;
	padding: 1px;
	margin: -5px;
	border:solid 1px;
}

#header .menu h2{
	font-size: 30px;
	margin: 0px;
	background-color: red;
}

#header .menu h2 a{
	padding: 0px 10px 0px 10px;
	text-decoration:none; 
	color: black;
	text-transform: uppercase;
	margin: 20px;
}
/* Isi */
#isi{
	margin: 0px;
}

#isi .content img{
	margin: 6px;
	text-align: left;
	width: 414px;
	height: 200px;
}

#isi .content h1{
	margin: 1px;
	float: right;
	font-family: Verdana;
	padding-right: 228px;
}

#isi .content p{
	float: right;
	padding-right: 139px;
	padding-left: 438px;
	margin-top: -168px
}

#isi .content1 img{
	margin: 3px;
	width: 414px;
	height: 200px;
	text-align: left;
}

#isi .content1 h1{
	margin: 0;
	float:right;
	font-family: Verdana;
	padding-right: 38px;
}

#isi .content1 p{
	float: right;
	padding-right: 139px;
	padding-left: 438px;
	margin-top: -168px
}
#bawah{
	background: #444481;
	border-top:solid 8px red;
	color: whitesmoke;
	padding-bottom: 46px;
}

#bawah .kiri{
	text-align: left;
}

#bawah .kiri h2{
	margin: 3px;
	padding-left: 26px;
	color: #decb10;
}

#bawah .kiri p{
	margin: 2px;
	padding-left: 57px;
	font-family: Verdana;
}

#bawah .kanan{
	float: right;
}

#bawah .kanan h2{
	margin-top: -96px;
	padding-right: 488px;
	color: #decb10;
}

#bawah .kanan p{
	margin: -20px;
	padding-bottom: 23px;
	font-family: Verdana;
	padding-left: 53px;
}

#foot{
	background: #CC0000;
	padding-bottom: 10px;
	padding-left: 28px;
	padding-top: 3px
}

#foot .copy p{
	margin: 0px;
	font-family: Web-Raleway;
	padding-top: 3px;
}

#foot .sosmed {
	float: right;
    padding: 0;
    margin: 0;
}

#foot .sosmed img{
    width: 47px;
    height: auto;
    margin-top: -38px;
}


